body{
	background-color: lightblue;
	font-family: Helvetica, Arial, sans-serif;
	margin-top:25px;
	margin-bottom: 25px;
	margin-left: 40px;
	margin-right: 40px;
}

h1{
	font-family: "times new roman", times, serif;
}
